#headerline{
	width: 100%;
	height: 300px;
	min-width: 1263px;
	background: linear-gradient(to right bottom,rgba(0,0,0,0.7), rgba(0,0,0,0)) ,url(images/search.jpg) no-repeat center;
	position: relative;
}
#headerline .center{
	width: 1263px;
	height: 300px;
	margin: 0px auto;
}
#headerline hgroup{
	padding: 100px 0px 0px 50px;
}
#headerline h2{
	color: #fff;
	font-size: 36px;
	letter-spacing: 1px;
}
#headerline h3{
	color: #eee;
	font-size: 24px;
	letter-spacing: 1px;
}

#container{
	width: 1263px;
	margin: 30px auto;
	overflow: hidden;
}
#container .sidebar{
	width: 340px;
	float: right;
}
#container .sidebox{
	border:1px solid #eee;
	margin: 0px 0px 10px 0px;
	text-align: center;
}
#container .sidebox h2{
	font-size: 20px;
	font-weight: 100;
	letter-spacing: 1px;
	text-indent: 8px;
	height: 40px;
	line-height: 40px;
	background: #fafafa;
	color: #666;
	text-align: left;
	border-bottom: 1px solid #eee;
}
#container .tag{
	padding: 10px 0px;
}
#container .tag li{
	display: inline-block;
	width: 100px;
	height: 35px;
	line-height: 35px;
	margin: 2px 0px;
	background: #eee;
	color: #999;
}
#container .tag a{
	display: block;
}
#container .tag a:hover{
	background: #aaa;
	color: #666;
} 
#container .figure{
	padding:10px 0px;
}
#container figure img{
	width: 150px; 
	height: 120px;
}
#container figure{
	display: inline-block;;
	padding: 4px;
	color: #666;
}
#container .box{
	padding: 10px 0px;
}
#container .box a{
	display: inline-block;
	width: 150px;
	height: 40px;
	line-height: 40px;
	margin: 2px 0px;
	background: #eee;
	color: #999;
}
#container .box a:hover{
	background: #458b00;
	color: #323232;
} 

/*左边*/
#container .infor{
	width: 910px;
	background: #eee;
	height: 45px;
	line-height: 45px;
	float: left;
	margin-bottom:20px;
}
#container .information .left{
	float: left;
	position: relative;
	left:1px;
}
#container .information .left li{
	display: inline-block;
	width: 150px;
	height:43px;
	line-height: 43px;
	text-align: center;
}
#container .information .left li:first-child{
	border-top:2px solid #458b00;
	background: #fff; 
}
#container .information .right{
	float: right;
	display: inline-block;
	padding: 0px 20px 0px 0px;
}
#container .information .right li{
	display: inline-block;	
	width: 60px;
	height: 45px;
	line-height: 45px;
	text-align: center;
}
#container .information .right a.selected,#container .information .right a:hover{
	background: green;
	padding: 3px 8px;	
}

/*图片*/
#container .tour{
	width: 910px;
	padding:0px;
	margin: 0px 0px 20px 0px;
	position: relative;
}
#container .tour figure{
	border: 1px solid #eee;
	position: relative;
}
#container .tour img{
	float: left;
	width: 380px;
	height: 230px;
}
#container .tour figcaption{
	width: 520px;
	height: 230px;
	float: right;
}

#container .tour hgroup{}
#container .tour h2{
	font-size: 24px;
	color: #333;
	font-weight: 100;
	padding: 10px 0px 10px 25px;
}
#container .tour h3{
	font-size: 24px;
	color: #666;
	line-height: 1.5;
	font-weight: 100;
	padding: 10px 0px 10px 25px;
}
#container .tour ol{
	padding: 0px 0px 0px 25px;
	color: #666;
	line-height: 2;
}
#container .tour ol mark{
	background: #fff;
	border: 1px solid #458b00;
	color: #458b00;
}
#container .tour footer{
	width: 528px;
	height: 30px;
	line-height: 30px;
	background: #fafafa;
	text-indent: 25px;
	position: absolute;
	bottom: 0px;
}
#container .tour time{
	color: #458b00;
}
#container .tour .buy{
	position: absolute;
	top:55px;
	right: 30px;
}
#container .tour .price{
	color: #f60;
	font-size: 20px;
}
#container .tour .price strong{
	font-size: 36px;
}
#container .tour .price s{
	font-size: 16px;
	color: #999;
}
#container .tour .reserve{

}
#container .tour .reserve a{
	display: inline-block;
	width: 152px;
	height: 40px;
	font-size: 20px;
	line-height: 40px;
	letter-spacing: 1px;
	color: #fff;
	text-align: center;
	background: #f60;
}
#container .tour .reserve .type{
	width: 90px;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	color: #fff;
	background: #59b200;
	position: absolute;
	top: 4px;
	left:4px;
	text-align: center;
}
#container .tour .disc{
	position: absolute;
	top:0px;
	right: 0px;
	color: #fff;
	width: 52px;
	height: 52px;
	background: url("images/disc.png") no-repeat center;
}
#container .tour .disc span{
	display: block;
	transform:rotate(45deg);
	padding: 5px 0px  0px 0px;
	font-size: 14px;
	color: #ff4700;
	width: 52px;
	height: 52px;
	text-indent: 12;
}

#container .information .more,#container .scencry .more {
	background: #fafafa;
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin: 0 auto;
	border: 1px solid #ccc;
	border-radius: 10px;
	cursor: pointer;
	font-size: 18px;
	color: #666;
}


/*机票订购*/
#container .list{	
	width: 910px;
}
#container .ticket{
	color: #666;
	font-size: 20px;
}
#container .ticket h2,#container .scencry h2,#container .about h2{
	height: 40px;
	line-height: 40px;
	border-bottom: 1px dashed #999;
	padding: 0px 0px 15px 0px;
	font-weight: 100;
}
#container .ticket .type{
	margin:20px 0px 10px 0px;
}
#container .ticket .type mark{
	color: #fff;
	background: #458b00;
	padding: 5px 8px;
	border-radius: 4px;
	margin: 0px 10px 0px 16px;
}
#container .ticket .left{
	display: inline-block;
	width: 43%;
}
#container .ticket .right{
	display: inline-block;
	width: 43%;
}
#container .ticket .button{
	display: inline-block;
	width: 9%;	
}
#container .ticket .submit{
	display: block;
	width: 90px;
	height: 90px;
	line-height: 90px;
	background: #f60;
	color: #fff;
	border: 0;
	margin:-top:6px;
	position: relative;
	top:8px;
	cursor: pointer;
	font-size: 20px;
}
#container .ticket .form p{
	line-height: 3;
}
#container .ticket .form input{
	width: 250px;
	height: 30px;
	line-height: 30px;
	background: #fff;
	border-radius: 4px;
	border: 1px solid #ccc;
	color: #666;
	padding: 5px;
	margin:0px 0px 0px 16px;
	font-size: 18px;
}
#container .ticket .new{
	
}
#container .ticket .new ul{
	margin: 20px 0px 0px 0px;
}
#container .ticket .new ul li{
	display: inline-block;
	padding: 5px 10px;
	cursor: pointer;
}
#container .ticket .new ul li:first-child{
	padding-left: 0px;
}
#container .ticket .new li:nth-child(2),#container .ticket .new li:hover{
	background: #458b00;
	border-radius: 4px;
	color: #fff;
}
#container .ticket table{
	margin:  20px 0px 0px 0px;
	width: 100%;
	border: 1px solid #ddd;
	border-collapse: collapse;
}
#container .ticket table th{
}
#container .ticket table th,
#container .ticket table td{
	border-bottom: 1px solid #ddd;
	text-align: center;
	height: 50px; 
	line-height: 50px;
}
#container .ticket table tr:nth-child(2n),#container .ticket table tr:hover{
	background: #fafafa;
}
#container .ticket table .price{
	color: #f60;
}
#container .ticket .reserve{
	display: block;
	width: 80px;
	height: 35px;
	line-height: 35px;
	background: #f60;
	color: #fff;
	margin: 0px auto;

}
#container .ticket .more{
	color: #666;
}

#container .scencry figure{
	border: 1px solid #ddd;
	display: inline-block;
	padding:4px;
	border-radius: 4px;
	width: 435px;
	margin:10px 2px;
	text-align: center;
}
#container .scencry figure img{
	width: 435px; 
	height: 250px;
}

#container .about p{
	line-height: 2;
	margin: 2px 0px;
}
#container .about address{
	line-height: 1.6;	
	margin: 2px 0px;
	font-style: normal;
}